.banner{
    display: flex;
    align-items: center;
    justify-content: center; /* Centrar el contenido verticalmente */
    height: 100vh; /* Establecer la altura al 100% de la altura de la ventana */
    margin: 0; /* Eliminar márgenes para evitar espacios innecesarios */
    overflow: hidden; /* Evitar desbordamiento del contenido */
    background-size: cover;
    background-position: center;
    background-image: url(../Reto6/img/Fondo.jpg);
    /*color del modo*/
    background-color: black;
    /*modo de color*/
    background-blend-mode: luminosity;
    /*profundidad*/
    box-shadow: inset 0 0 0  1000px  rgba(0, 0, 0, 0.6);
}

p{
    font-weight: bolder;
    font-size: 25px;
}