.navbar {
    background-color: rgb(205, 202, 203) !important; 
    width: 100%;
}


.dropdown-menu{
    background-color: rgb(205, 202, 203);
}

.dropdown-item:hover {
    background-color: rgb(205, 202, 203); 
}

.nav-item a {
    color: #333; /* Color del texto por defecto */
    text-decoration: none; /* Quita el subrayado del enlace */
    transition: color 0.3s; /* Agrega una transición suave al cambio de color */
  }
  
  .nav-item a:hover {
    color: #007bff; /* Cambia el color del texto al hacer hover */
  }

.imghvr-shutter-out-vert:hover figcaption {
    background-color: rgb(250, 205, 211); 
    transition-property: background-color; 
    transition-duration: 0.5s;
    color: #000;
    box-shadow: none;
    font-size: 35px;
    font-style: italic;
}

.fondo1{
    background-image: url(img/laf.jpg);
    box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.5);
}

/* Estilos para los íconos de redes sociales */
.icons {
    list-style: none; /* Quita los puntos de la lista */
    padding: 0px; /* Elimina el relleno predeterminado de la lista */
    margin: 0; /* Elimina el margen predeterminado de la lista */
    display: flex; /* Utiliza flexbox para alinear los elementos horizontalmente */
    justify-content: center; /* Centra los elementos horizontalmente */
}

.container-fluid4{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icons li {
    margin-right: 10px; /* Espacio entre los íconos */
}

.icons a {
    font-size: 35px;
    display: inline-block; /* Hace que los íconos sean elementos de bloque */
    width: 80px; /* Ancho uniforme para todos los íconos */
    height: 80px; /* Altura uniforme para todos los íconos */
    line-height: 80px; /* Alinea verticalmente los íconos */
    text-align: center; /* Centra el contenido dentro de los íconos */
    color: white; /* Color de los íconos /
    transition: color 0.3s ease; /* Transición suave del color */
    text-decoration: none;
    border-radius: 50%; /* Hace que los íconos sean circulares*/
    background-color: rgba(255, 255, 255, 0.2); /* Color de fondo transparente con opacidad */
}

.icons a:hover {
    color: beige; /* Cambia de color al pasar el ratón */
}


/*-------------------------------------------------------------------------------------*/
#footer {
    color: black;
    padding: 20px;
    text-align: center;
    font-family: Arial, sans-serif;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.6);
}

ul.copyright {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.copyright li {
    display: inline;
    margin-right: 10px;
}

a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #ffcc00;
}

h2 {
    font-weight: bolder;
    color: white; /* Aplicar el color blanco al título */
}

li {
    color: white;
}
/*-------------------------------------------------------------------------------------*/
