.btn a {
  text-decoration: none; /* Quitar el subrayado */
  color: inherit; /* Utilizar el color de texto heredado */
}

h1{
  font-weight: bolder;
}
.highlight {
  color: red; /* Establece el color del texto en rojo */
}
.hr{
  height: 5px;
  color: red;
}